# Dépendances
node_modules/

# Compilation
dist/
build/

# Fichiers d'environnement & secrets
.env
.env.local
.env.*.local
*.pem
*.key

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Fichiers temporaires & uploads locaux
uploads/
temp/
coverage/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
